@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    background-color: teal;
    padding: 30px;
    text-align: center;
    box-sizing: border-box;
}

.links {
    font-size: 22px;
}

.links a + a {
    margin-left: 25px;
}

.links a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
}

.links a.active {
    color: white;
    font-weight: bold;
}

.links a:hover {
    color: tomato;
}

.links a::after {
    content: "";
    height: 4px;
    background-color: tomato;
    position: absolute;
    bottom: -15px;
    left: 0;
}

.links a:hover::after {
    width: 100%;
    bottom: -6px;
    transition: bottom 500ms ease-in-out;
}

/* === Teachers - Index === */

.card {
    width: 800px;
    min-height: 400px;
    margin: 45px auto;
    display: grid;
    grid-template-columns: 40% 60%;
    box-shadow: 10px 0px 30px 8px rgba(0, 0, 0, 0.4);
}

.details {
    padding: 32px;
}

.details .item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px 0;
}

.details .item:first-child {
    border-top: none;
}

.details h1,
.details .item div:nth-child(1) {
    font-weight: normal;
    font-size: 14px;
    color: #777;
    line-height: 28px;
    letter-spacing: 0.7px;
}

.details .item div:nth-child(2) {
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

.details h1 {
    text-transform: uppercase;
    font-weight: bold;
    color: #7159c1;
}

.details .item span {
    color: #555;
    font-weight: bold;
    font-size: 18px;
    background-color: yellow;
    padding: 8px 16px;
    display: inline-block;
    margin-top: 8px;
    margin-right: 4px;
    border-radius: 16px;
}
